*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 2vw;
}

img {
  border:2px solid black;
  margin:0px; 
}
main{
  margin:0px;
}

/* mobile view with breakpoint of 800px viewscreen */
@media only screen and (max-width: 800px){
  .mobile{
    display:inline;
    
  }
  .desktop{
    display:none;
  }
}

/* desktop view with breakpoint of 800px viewscreen */
@media only screen and (min-width: 800px){
  .mobile{
    display: none;
  }

  .desktop{
    display:block;
  }
 
  /* #tower-b-desk{
    float: left;
  } */

}